<h1>Search results</h1>
<hr />
<% @logevents_pname.each do |key, value| %>
<h3><%= key %></h3>
  <table class="table table-bordered">
    <thead>
      <th>Datetime</th>
      <th>Status</th>
      <th>Major release</th>
      <th>Minor release</th>
      <th>Platform</th>
    </thead>
    <tbody>
      <% value.each do |logevent| %>
        <tr>
          <td><%= logevent.install_date %> </td>
          <td><%= logevent.status %> </td>
          <td><%= logevent.major_rel %> </td>
          <td><%= logevent.minor_rel %> </td>
          <td><%= logevent.platform %> </td>
         </tr> 
      <% end %>
    </tbody>
  </table>
  <br /> <br />
<% end %>